@import '../abstracts/variables';
header {
  width: 100%;
  height: 75px;
  top: 0;
  left: 0;
  background: $lnc-green;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 102;
  transition: all 0.2s ease-in-out;
  .header-menu {
    display: flex;
    flex-direction: row;
    background: $lnc-green;
    align-items: center;
    a {
      color: white;
      span {
        padding-left: 10px;
      }
    }
  }
  .lnc-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .header-menu {
      a {
        color: white;
        cursor: pointer;
        span {
          padding-left: 10px;
          font-size: 17px;
        }
        i {
          font-size: 20px;
          position: relative;
          top: 2px;
        }
      }
    }
    a {
      color: white;
      transition: border 0.3s;
    }
    ul {
      list-style: none;
      margin: 0;
      li {
        padding-left: 20px;
        color: white;
        display: inline-block;
      }
      a:after {
        content: '';
        display: block;
        border-bottom: solid 3px $lnc-green;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out;
      }
      a:hover:after {
        transform: scaleX(1);
        transform-origin: 0% 50%;
      }
    }
    .lnc-logo {
      width: 110px;
      display: block;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      top: 8px;
    }
    .lnc-user {
      a {
        padding: 10px 15px;
        border: 1px solid white;
        border-radius: 4px;
      }
      a:first-child {
        margin-right: 15px;
        background: white;
        color: $lnc-green;
        border: none;
      }
    }
  }
}
