app-project-navigation {
  position: fixed;
  height: 50px;
  background: white;
  bottom: 5px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E5E5E5;
  i {
    padding: 20px;
    background: #E5E5E5;
    font-size: 20px;
    cursor: pointer;
  }
}
