<header class="header">
  <div class="lnc-wrapper">
    <div class="header-menu">
      <a (click)="sidebarOpen()">
        <i class="fas fa-bars"></i>
        <span>Menu</span>
      </a>
    </div>
    <div class="lnc-logo">
      <a routerLink="/">
        <img src="../../../../assets/images/lnc-white.svg" alt="logo">
      </a>
    </div>
    <div class="lnc-user">
      <a routerLink="opdrachten">Opdrachten</a>
      <a routerLink="maakopdracht">Plaats een opdracht</a>
      <a *ngIf="!isAuthenticated" routerLink="login">Login</a>
      <a *ngIf="!isAuthenticated" routerLink="register" id="register">Registreer</a>
      <div class="header-dropdown">
        <div class="header-dropbtn">
          <a *ngIf="isAuthenticated" id="user">{{ user.full_name }}</a>
        </div>
        <div class="header-dropdown__content">
          <ul>
            <li>
              <a href="">Mijn profiel</a>
            </li>
            <li>
              <a href="">Profielfoto</a>
            </li>
            <li>
              <a href="">Instellingen</a>
            </li>
            <li>
              <a (click)="logout()" class="logout">Afmelden</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
