<h2>Filter</h2>
<div class="lnc-projects__filter">

  <dl>
    <dt>Vakgebieden</dt>
    <dd>
      <ul>
        <li>
          <label class="checkbox-container">Nieuwste eerst
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </li>
        <li>
          <label class="checkbox-container">Oudste eerst
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </li>
        <li>
          <label class="checkbox-container">Hoogste budget
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <li>
            <label class="checkbox-container">Laagste budget
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </li>
      </ul>
    </dd>
  </dl>
</div>
