<div class="section_two">
  <div class="lnc-wrapper">
    <div class="list-image">
      <div class="opdracht-item"></div>
      <div class="opdracht-item"></div>
      <div class="opdracht-item"></div>
    </div>
    <div class="info">
      <h1>Grote titel</h1>
      <p>Lorem ipsum dolor sit amet, cu vim veniam philosophia, case discere delicatissimi mei cu. Ex usu alia insolens. Cum
        eros temporibus adversarium id, an mel dolorum adversarium, ornatus nostrum suscipit per ea. Et quo denique probatus.</p>
      <a href="">Zoek naar opdrachten</a>
    </div>
  </div>
</div>
