<div class="section_two">
  <div class="lnc-wrapper">
    <div class="row">
      <div class="col-lg-6 list-image">
        <div class="opdracht-item">
          <div class="title_line"></div>
          <div class="name_line"></div>
        </div>
        <div class="opdracht-item">
          <div class="title_line"></div>
          <div class="name_line"></div>
        </div>
        <div class="opdracht-item">
          <div class="title_line"></div>
          <div class="name_line"></div>
        </div>
      </div>
      <div class="col-sm-1 col-lg-5 info">
        <h1>Vind de geschikte opdracht</h1>
        <p>Lorem ipsum dolor sit amet, cu vim veniam philosophia, case discere delicatissimi mei cu. Ex usu alia insolens. Cum
          eros temporibus adversarium id, an mel dolorum adversarium, ornatus nostrum suscipit per ea. Et quo denique probatus.</p>
        <a routerLink="opdrachten">Zoek naar opdrachten</a>
      </div>
    </div>
  </div>
</div>
