input {
  height: 50px;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  padding-left: 16px;
  font-size: 16px;
}

.form-group {
  position: relative;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  top: 42px;
  left: 16px;
  color: rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

input:focus~.floating-label,
input:not(:focus):valid~.floating-label {
  transform: translate3d(0, -90%, 0);
  font-size: 11px;
  opacity: 1;
  color: $lnc-green;
}
