<h2>{{projects.length}} opdrachten</h2>
<div class="projects_sort">
  <input [(ngModel)]="searchText" type="text" class="searchBox">
</div>

<div *ngIf="projects" class="projects">
  <div class="sortTable">
    <p id="title" (click)="sortByProjectName()">Titel</p>
    <p id="end">Eindigt op</p>
    <p id="budget" (click)="sortProjectByBudget()">Budget
      <i class="fas fa-long-arrow-alt-up"></i>
    </p>
  </div>
  <div [routerLink]="[ '/opdracht', project.id]" class="project_item" *ngFor="let project of projects | searchProjects : searchText">
    <div class="project_info">
      <a [routerLink]="[ '/opdracht', project.id]">{{project.title}}</a>
      <p>{{project.body}}</p>
      <p id="date">{{project.published_at}}</p>
      <p id="category">{{project.category.name}}</p>
    </div>
    <div class="project_end">
      <p>{{project.project_end}}</p>
    </div>
    <div class="project_stats">
      <p id="budget">€ {{project.budget}}</p>
      <p id="bids">{{project.bids.length}} biedingen</p>
    </div>

  </div>
</div>
<p *ngIf="!projects">
  No Projects
</p>
