<div class="container">
  <div class="row justify-content-center">
    <h1>{{project.title}}</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 justify-content-center">
      <div class="lnc-project__end lnc-container__shadow">
        <p>Dit project eindigt op:</p>
        <h2>{{countdownTime}}</h2>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="lnc-project__bid-input lnc-container__shadow">
        <div class="bid__input" *ngIf="isAuthenticated">
          <label for="bid">Hoeveel zou je vragen voor dit project?</label>
          <input type="text">
          <button>Bieden</button>
        </div>
        <div class="bid__login" *ngIf="!isAuthenticated">
          <p>
            <a href="">Meld je aan</a> om te kunnen bieden</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="lnc-project__container lnc-container__shadow">
        <h4>Beschrijving</h4>
        <p>{{project.body}}</p>
      </div>
    </div>
  </div>
</div>