@import '../abstracts/variables';
.lnc-landing {
  min-height: 100vh;
  background: $lnc-green;
  overflow: hidden;
  .landing-bg {
    position: relative;
    img {
      float: right;
      width: 120%;
      margin-top: 100px;
      position: relative;
      bottom: 110px;
      object-fit: cover;
      object-position: 0px -320px;
    }
  }
  h1,
  p {
    color: white;
  }
  .lnc-wrapper {
    display: flex;
    justify-content: center;
    .landing__title {
      z-index: 101;
      position: absolute;
      top: 25%;
      left: 50%;
      width: 90%;
      transform: translate(-50%, -50%);
      text-align: center;
      h1 {
        padding-bottom: 50px;
        font-size: 60px;
        #you {
          color: rgb(224, 98, 98);
        }
        #we_connect {
          font-weight: 200;
          font-style: italic;
          span {
            color: rgb(73, 73, 211);
          }
        }
      }
      p {
        font-size: 20px;
      }
      .landing__actions {
        margin-top: 70px;
        a:first-child {
          margin-right: 20px;
          background: white;
          color: $lnc-green;
        }
        a:first-child:hover {
          background: transparent;
          border: 1px solid white;
          color: white;
        }
        a {
          font-weight: 400;
          background: transparent;
          border: 1px solid white;
          color: white;
          padding: 15px;
          font-size: 20px;
          border-radius: 5px;
          transition: all 0.2s ease;
        }
        a:hover {
          color: $lnc-green;
          background: white;
        }
      }
    }
  }
  .bg-square {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    opacity: 0.25;
    background: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 100;
  }
}

.section_two {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: $lnc-light-grey;
  .info,
  .list-image {
    width: 50%;
  }
  .list-image {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    .opdracht-item {
      padding: 20px;
      background: white;
      width: 300px;
      height: 50px;
      margin-bottom: 20px;
      box-shadow: 15px 40px 60px 0 rgba(0, 0, 0, .16);
      .title_line {
        width: 230px;
        height: 10px;
        background: #E0E0E0;
        margin-bottom: 20px;
      }
      .name_line {
        width: 140px;
        height: 10px;
        background: #E0E0E0;
      }
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    float: left;
    h1 {
      font-size: 40px;
      color: $lnc-green;
      margin-bottom: 50px;
    }
    p {
      width: 80%;
      font-size: 20px;
    }
    a {
      margin-top: 26px;
      padding: 10px;
      width: 33%;
      background: $lnc-green;
      text-align: center;
      border-radius: 6px;
      border: none;
      color: white;
      font-size: 18px;
    }
  }
}
