.lnc-projects {
  background: $lnc-light-grey;
  padding-top: 100px;
  h1 {
    text-align: center;
  }
  .lnc-projects__filter,
  .projects {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border-radius: 4px;
    border-top: 15px solid $lnc-green;
  }
  .lnc-projects__filter {
    background: white;
    padding: 16px;
    dt {
      color: $lnc-green;
      font-size: 18px;
      font-weight: 900;
    }
    ul {
      margin-left: -20px;
      margin-top: 10px;
      li {
        list-style: none;
        padding-bottom: 10px;
        input {
          margin-right: 8px;
        }
      }
    }
  }
  .lnc-projects__list {
    h2 {
      padding-bottom: 20px;
    }
    .projects {
      list-style: none;
      padding: 20px;
      background: white;
      li {
        padding-bottom: 20px;
        a {
          font-weight: 700;
          font-size: 20px;
          color: $lnc-green;
        }
      }
    }
  }
}
