.lnc-projects {
  background: $lnc-light-grey;
  padding-top: 100px;
  h1 {
    text-align: center;
  }
  .lnc-projects__filter,
  .projects_sort,
  .project_item {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border-radius: 4px;
    border-top: 5px solid $lnc-green;
  }
  .lnc-projects__filter {
    background: white;
    padding: 16px;
    dt {
      color: $lnc-green;
      font-size: 18px;
      font-weight: 900;
    }
    ul {
      margin-left: -20px;
      margin-top: 10px;
      li {
        list-style: none;
        padding-bottom: 10px;
        input {
          margin-right: 8px;
        }
      }
    }
  }
  .lnc-projects__list {
    h2 {
      padding-bottom: 20px;
    }
    .projects_sort {
      background: white;
      padding: 30px;
      border-radius: 4px 4px 0 0;
      select {
        height: 25px;
        background: white;
        font-size: 16px;
      }
      input {
        height: 25px;
        float: right;
        padding-left: 10px;
      }
      hr {
        //margin-bottom: 20px;
      }
    }
    .projects {
      margin-top: 20px;
      cursor: pointer;
      .project_item {
        transition: all 0.2s ease;
        border-top: none;
        padding: 20px;
        margin-bottom: 20px;
        background: white;
        display: table;
        table-layout: fixed;
        width: 100%;
        .project_info,
        .project_stats,
        .project_end {
          display: table-cell
        }
        .project_info {
          padding-right: 80px;
          a {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 20px;
            color: $lnc-green;
          }
          p {
            padding: 10px 0;
          }
          #date {
            font-size: 14px;
            color: #B7B7B7;
          }
          #category {
            font-weight: 700;
            font-size: 15px;
            color: $lnc-green;
          }
        }
        .project_end {
          width: 140px;
        }
        .project_stats {
          width: 160px;
          #budget {
            font-weight: 900;
            font-size: 20px;
            margin-bottom: 20px;
          }
        }
      }
      .project_item:focus {
        outline: 0;
      }
      .project_item:hover {
        background: #FBFBFB;
      }
    }
  }
}
