<div>
  <ul>
    <li>
      <span (click)="navClose()" id="close">Close
        <i class="fas fa-times"></i>
      </span>
    </li>
    <li>
      <a class="item" routerLink="/">Home</a>
    </li>
    <li>
      <a class="item" routerLink="opdrachten">Opdrachten</a>
    </li>
    <li>
      <span class="item" id="account" (click)="openSub()" *ngIf="!authService.loggedIn()">Mijn account
        <i class="fas fa-chevron-right arrow"></i>
      </span>

      <ul class="subnav" [class.subnav-open]="isOpen" *ngIf="!authService.loggedIn()">
        <li>
          <a routerLink="/" class="item">Mijn profiel</a>
        </li>
        <li>
          <a routerLink="/" class="item">Profielfoto</a>
        </li>
        <li>
          <a routerLink="/" class="item">Instellingen</a>
        </li>
        <li>
          <a (click)="logout()" class="item">Afmelden</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
