<div class="project-form">
  <div class="wrapper">
    <a routerLink="/">
      <img src="../../../../assets/images/lnc-black.svg" alt="logo">
    </a>
    <div class="info">
      <h2>Maak een opdracht</h2>
      <p>Ben je op zoek naar de geschikte kandidaat voor je project? Aarzel dan niet, vul dit formulier in en vind in no-time
        de geknipte persoon!</p>
    </div>
    <form action="">
      <div class="form-group">
        <label for="title">Kies een goede titel voor je project</label>
        <p class="form-descr">Geef een goede titel die beschrijft naar wie of wat je op zoek bent</p>
        <input type="text" [(ngModel)]="project.title" name="title" required>
        <p *ngIf="error?.title !== ''" class="lnc-error">{{error?.title}}</p>
      </div>
      <div class="form-group">
        <label for="">In welke categorie hoort dit project?</label>
        <br>
        <select [(ngModel)]="project.category_id" name="category_id">
          <option value="">Kies een categorie...</option>
          <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
        </select>
        <p *ngIf="error?.category_id !== ''" class="lnc-error">{{error?.category_id}}</p>

      </div>
      <div class="form-group">
        <label for="">Wanneer gaat dit project van start?</label>
        <input type="datetime-local" name="project_start" [(ngModel)]="project.project_start">
        <p *ngIf="error?.project_start !== ''" class="lnc-error">{{error?.project_start}}</p>
      </div>
      <div class="form-group">
        <label for="">Tot wanneer kunnen freelancers bieden op dit project?</label>
        <input type="datetime-local" name="project_end" [(ngModel)]="project.project_end">
        <p *ngIf="error?.project_end !== ''" class="lnc-error">{{error?.project_end}}</p>
      </div>
      <div class="form-group">
        <label for="budget">Wat is het budget?</label>
        <p class="form-descr">Hoeveel zou je willen geven om dit project tot een goed einde te brengen?</p>
        <input type="number" name="budget" [(ngModel)]="project.budget">
        <p *ngIf="error?.budget !== ''" class="lnc-error">{{error?.budget}}</p>
      </div>
      <div class="form-group">
        <label for="body">
          Beschrijf je project
        </label>
        <p class="form-descr">Probeer duidelijk te beschrijven wat het project inhoudt en wat je verwacht</p>
        <textarea name="body" [(ngModel)]="project.body"></textarea>
        <p *ngIf="error?.body !== ''" class="lnc-error">{{error?.body}}</p>
      </div>
      <div class="form-group">
        <p>Als je het project nog niet online wil zetten, kan je het opslaan en pas later publiceren</p>
        <button class="save" (click)="onSave()">Opslaan</button>
        <button (click)="onPublish()">Publiceren</button>
      </div>
    </form>
  </div>
</div>
