<div class="container">
  <div class="lnc-auth register">
    <div class="auth__wrapper">
      <h1>Registreer</h1>
      <hr>
      <form (submit)="onRegister()" class="login">
        <div class="form-group">
          <input type="text" [(ngModel)]="user.full_name" name="full_name" required>
          <label for="full_name" class="floating-label">Naam</label>
          <!-- <p *ngIf="message.full_name !== ''" class="lnc-error">{{message.full_name}}</p> -->

        </div>
        <div class="form-group">
          <input type="email" [(ngModel)]="user.email" name="email" required>
          <label for="email" class="floating-label">Email</label>
          <!--  <p *ngIf="message.email !== ''" class="lnc-error">{{message.email}}</p>
          <p *ngIf="message.noUser !== ''" class="lnc-error">{{message.noUser}}</p> -->
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="user.password" name="password" required>
          <label for="password" class="floating-label">Wachtwoord</label>
          <!--  <p *ngIf="message.password !== ''" class="lnc-error">{{message.password}}</p>
          <p *ngIf="message.wrongpassword !== ''" class="lnc-error">{{message.wrongpassword}}</p> -->
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="user.password2" name="password2" required>
          <label for="password2" class="floating-label">Herhaal wachtwoord</label>
          <!-- <p *ngIf="message.password2 !== ''" class="lnc-error">{{message.password2}}</p> -->
        </div>
        <button type="submit">Registreer</button>
        <span>Wachtwoord vergeten? Klik hier</span>
      </form>
    </div>
  </div>
</div>
