<div class="container">
  <div class="lnc-auth register">
    <div class="auth__wrapper">
      <h1>Registreer</h1>
      <hr>
      <form (submit)="onRegister()" class="login">
        <div class="form-group">
          <input type="text" [(ngModel)]="user.full_name" name="full_name" required>
          <label for="full_name" class="floating-label">Naam</label>
          <p *ngIf="error?.full_name !== ''" class="lnc-error">{{error?.full_name}}</p>

        </div>
        <div class="form-group">
          <input type="email" [(ngModel)]="user.email" name="email" required>
          <label for="email" class="floating-label">Email</label>
          <p *ngIf="error?.email !== ''" class="lnc-error">{{error?.email}}</p>
          <p *ngIf="error?.noUser !== ''" class="lnc-error">{{error?.noUser}}</p>
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="user.password" name="password" required>
          <label for="password" class="floating-label">Wachtwoord</label>
          <p *ngIf="error?.password !== ''" class="lnc-error">{{error?.password}}</p>
          <p *ngIf="error?.wrongpassword !== ''" class="lnc-error">{{error?.wrongpassword}}</p>
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="user.password2" name="password2" required>
          <label for="password2" class="floating-label">Herhaal wachtwoord</label>
          <p *ngIf="error?.password2 !== ''" class="lnc-error">{{error?.password2}}</p>
        </div>
        <button type="submit">Registreer</button>
        <span>Wachtwoord vergeten? Klik hier</span>
      </form>
    </div>
  </div>
</div>
