<div class="project-form">
  <div class="wrapper">
    <div class="info">
      <h2>Maak een opdracht</h2>
      <p>Ben je op zoek naar de geschikte kandidaat voor je project? Aarzel dan niet, vul dit formulier in en vind in no-time
        de geknipte persoon!</p>
    </div>
    <form action="">
      <div class="form-group">
        <label for="">Kies een goede titel voor je project</label>
        <p>Geef een goede titel die beschrijft naar wie of wat je op zoek bent</p>
        <input type="text">
      </div>
      <div class="form-group">
        <label for="">In welke categorie hoort dit project?</label>
        <br>
        <select name="" id="">
          <option value="">Kies een categorie...</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Tot wanneer kunnen freelancers bieden op dit project?</label>
        <input type="datetime-local" name="" id="">
      </div>
      <div class="form-group">
        <label for="">Wat is het budget?</label>
        <p>Hoeveel zou je willen geven om dit project tot een goed einde te brengen?</p>
        <input type="number" name="" id="">
      </div>
      <div class="form-group">
        <label for="">
          Beschrijf je project
        </label>
        <p>Probeer duidelijk te beschrijven wat het project inhoudt en wat je verwacht</p>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group">
        <p>Als je het project nog niet online wil zetten, kan je het opslaan en pas later publiceren</p>
        <button class="save">Opslaan</button>
        <button>Publiceren</button>
      </div>
    </form>
  </div>
</div>
