@charset "UTF-8";
@import '~@angular/material/theming';
// Base
@import 'base/fonts';
// Components
@import 'layout/header';
@import 'layout/wrapper';
// Abstracts
@import 'abstracts/variables';
@import 'pages/home';
@include mat-core();
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
