<div class="lnc-landing">
  <!--<div class="landing-bg">
    <img src="../../../assets/images/edu-lauton-71055-unsplash.jpg" alt="">
  </div>-->
  <div class="lnc-wrapper">
    <div class="landing__title">
      <h1>
        <span id="you">You</span> create.
        <span id="we_connect">
          <span>We</span> connect.</span>
      </h1>
      <p>Op zoek naar een project, of naar de geschikte kandidaat voor je eigen project?
        <br> Hier bij Lance kan je alles naar jouw voorkeur vinden.
      </p>
      <div class="landing__actions">
        <a href="">Ik zoek een freelancer</a>
        <a href="">Ik ben een freelancer</a>
      </div>
    </div>
  </div>
  <div class="bg-square"></div>
</div>
